@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root{
    --bg-color: #000000;
    --primary-color: #FFE1FF;
    --secondary-color: #E3FEF7;
    --font: "Nunito Sans"
}